<h3 mat-dialog-title>
    Detail Produk
 </h3>
 <div mat-dialog-content>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>No</mat-label>
        <input matInput [(ngModel)]="data.no">      
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Nama Makanan</mat-label>
        <input matInput [(ngModel)]="data.foodname">      
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Resep</mat-label> 
        <input matInput [(ngModel)] ="data.recipes">     
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Kalori</mat-label>
        <input matInput [(ngModel)]="data.calories" >      
    </mat-form-field>
 </div>
 <div mat-dialog-actions align="end">
 <button mat-button mat-dialog-close>Batal</button>
 <button mat-flat-button (click)="saveData()" [disabled]="loading">{{loading ? 'Menyimpan..': 'Simpan'}}</button>
 </div>
 
